*{
    margin: 0;
    padding: 0;
}

body{
    background-color: skyblue;
    text-align: center;
}

.container{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2vmin;
}

.box{
    height: 16vmin;
    width: 16vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    font-size: 11vmin;
    background-color: white;
    color: black;
}

#Reset-But{
    padding: 1rem;
    font-size: 30px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cadetblue;
    color: white;
    border-radius: 2rem;
    border: none;
}

#New-But{
    padding: 1rem;
    font-size: 15px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
    color: white;
    border-radius: 2rem;
    border: none;
}

#msg{
    color: greenyellow;
    font-size: 8vmin;
    text-shadow: 15px;
}

.msg-container{
    height: 5vmin;
}

.hide{
    display: none;
}